<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>LVM LAS Postbox</title>
    <link rel="stylesheet" href="/application.css">
</head>

<body>
    <h1>Layout</h1>
    {{> nav }}

    {{> yield }}

    <script src="/application.js"></script>
</body>
</html>